@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}

#title {
  text-align: center;
}

#character {
  border-collapse: collapse;
  border: 3px solid #ddd;
}

#character td,
#character th {
  border: 1px solid #ddd;
  padding: 12px;
}

#character tr:hover {
  background-color: #ddd;
}

#character th {
  padding: 10px;
  text-align: center;
  background-color: #993399;
  color: white;
}

.Buttons {
  text-align: center;
}

.button {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}

.button:active {
  border: 1px solid blue;
}
